In [4]:
from langchain.utilities import SQLDatabase
from langchain.llms import OpenAI
from langchain_experimental.sql import SQLDatabaseChain

In [5]:
import os
os.environ['OPENAI_API_KEY'] = ''

In [12]:
db = SQLDatabase.from_uri("mysql+pymysql://lang:lang@127.0.0.1:3306/Chinook?charset=utf8")
llm = OpenAI(temperature=0, verbose=True)
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [13]:
db_chain.run("How many employees are there?")

> Entering new SQLDatabaseChain chain...
How many employees are there?
SQLQuery:SELECT COUNT(*) AS `NumberOfEmployees` FROM `Employee`;
SQLResult: [(8,)]
Answer:There are 8 employees.
> Finished chain.

'There are 8 employees.'

In [15]:
from langchain.chat_models import ChatOpenAI
from langchain.chains import create_sql_query_chain
chain = create_sql_query_chain(ChatOpenAI(temperature=0), db)
response = chain.invoke({"question":"How many employees are there"})
print(response)

SELECT COUNT(*) FROM Employee

In [16]:
db.run(response)

'[(8,)]'

In [19]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
# from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType

db = SQLDatabase.from_uri("mysql+pymysql://lang:lang@127.0.0.1:3306/Chinook?charset=utf8")
llm = OpenAI(temperature=0, verbose=True)

agent_executor = create_sql_agent(
    llm=OpenAI(temperature=0),
    toolkit=SQLDatabaseToolkit(db=db, llm=OpenAI(temperature=0)),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)
agent_executor.run(
    "List the total sales per country. Which country's customers spent the most?"
)

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Thought: I should query the schema of the Invoice and Customer tables.
Action: sql_db_schema
Action Input: Invoice, Customer
Observation:
CREATE TABLE `Customer` (
	`CustomerId` INTEGER(11) NOT NULL,
	`FirstName` VARCHAR(40) CHARACTER SET utf8 NOT NULL,
	`LastName` VARCHAR(20) CHARACTER SET utf8 NOT NULL,
	`Company` VARCHAR(80) CHARACTER SET utf8,
	`Address` VARCHAR(70) CHARACTER SET utf8,
	`City` VARCHAR(40) CHARACTER SET utf8,
	`State` VARCHAR(40) CHARACTER SET utf8,
	`Country` VARCHAR(40) CHARACTER SET utf8,
	`PostalCode` VARCHAR(10) CHARACTER SET utf8,
	`Phone` VARCHAR(24) CHARACTER SET utf8,
	`Fax` VARCHAR(24) CHARACTER SET utf8,
	`Email` VARCHAR(60) CHARACTER SET utf8 NOT NULL,
	`SupportRepId` INTEGER(11),
	PRIMARY KEY (`CustomerId`),
	CONSTRAINT `FK_CustomerSupportRepId` FOREIGN KEY(`SupportRepId`) REFERENCES `Employee` (`EmployeeId`)
)ENGINE=InnoDB DEFAULT CHARSET=latin1

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE `Invoice` (
	`InvoiceId` INTEGER(11) NOT NULL,
	`CustomerId` INTEGER(11) NOT NULL,
	`InvoiceDate` DATETIME NOT NULL,
	`BillingAddress` VARCHAR(70) CHARACTER SET utf8,
	`BillingCity` VARCHAR(40) CHARACTER SET utf8,
	`BillingState` VARCHAR(40) CHARACTER SET utf8,
	`BillingCountry` VARCHAR(40) CHARACTER SET utf8,
	`BillingPostalCode` VARCHAR(10) CHARACTER SET utf8,
	`Total` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`InvoiceId`),
	CONSTRAINT `FK_InvoiceCustomerId` FOREIGN KEY(`CustomerId`) REFERENCES `Customer` (`CustomerId`)
)ENGINE=InnoDB DEFAULT CHARSET=latin1

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2009-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2009-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2009-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
Thought: I should query the total sales per country.
Action: sql_db_query
Action Input: SELECT Country, SUM(Total) AS TotalSales FROM Invoice INNER JOIN Customer ON Invoice.CustomerId = Customer.CustomerId GROUP BY Country ORDER BY TotalSales DESC LIMIT 10;
Observation: [('USA', Decimal('523.06')), ('Canada', Decimal('303.96')), ('France', Decimal('195.10')), ('Brazil', Decimal('190.10')), ('Germany', Decimal('156.48')), ('United Kingdom', Decimal('112.86')), ('Czech Republic', Decimal('90.24')), ('Portugal', Decimal('77.24')), ('India', Decimal('75.26')), ('Chile', Decimal('46.62'))]
Thought: I now know the final answer.
Final Answer: USA customers spent the most, with a total of $523.06.

> Finished chain.

'USA customers spent the most, with a total of $523.06.'

In [20]:
db_chain.run("共有多少员工?")

> Entering new SQLDatabaseChain chain...
共有多少员工?
SQLQuery:SELECT COUNT(*) FROM Employee;
SQLResult: [(8,)]
Answer:共有8名员工。
> Finished chain.

'共有8名员工。'

In [21]:
agent_executor.run(
    "列出每个国家/地区的总销售额。哪个国家的客户花费最多？"
)

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Thought: I should query the schema of the Customer and Invoice tables.
Action: sql_db_schema
Action Input: Customer, Invoice
Observation:
CREATE TABLE `Customer` (
	`CustomerId` INTEGER(11) NOT NULL,
	`FirstName` VARCHAR(40) CHARACTER SET utf8 NOT NULL,
	`LastName` VARCHAR(20) CHARACTER SET utf8 NOT NULL,
	`Company` VARCHAR(80) CHARACTER SET utf8,
	`Address` VARCHAR(70) CHARACTER SET utf8,
	`City` VARCHAR(40) CHARACTER SET utf8,
	`State` VARCHAR(40) CHARACTER SET utf8,
	`Country` VARCHAR(40) CHARACTER SET utf8,
	`PostalCode` VARCHAR(10) CHARACTER SET utf8,
	`Phone` VARCHAR(24) CHARACTER SET utf8,
	`Fax` VARCHAR(24) CHARACTER SET utf8,
	`Email` VARCHAR(60) CHARACTER SET utf8 NOT NULL,
	`SupportRepId` INTEGER(11),
	PRIMARY KEY (`CustomerId`),
	CONSTRAINT `FK_CustomerSupportRepId` FOREIGN KEY(`SupportRepId`) REFERENCES `Employee` (`EmployeeId`)
)ENGINE=InnoDB DEFAULT CHARSET=latin1

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE `Invoice` (
	`InvoiceId` INTEGER(11) NOT NULL,
	`CustomerId` INTEGER(11) NOT NULL,
	`InvoiceDate` DATETIME NOT NULL,
	`BillingAddress` VARCHAR(70) CHARACTER SET utf8,
	`BillingCity` VARCHAR(40) CHARACTER SET utf8,
	`BillingState` VARCHAR(40) CHARACTER SET utf8,
	`BillingCountry` VARCHAR(40) CHARACTER SET utf8,
	`BillingPostalCode` VARCHAR(10) CHARACTER SET utf8,
	`Total` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`InvoiceId`),
	CONSTRAINT `FK_InvoiceCustomerId` FOREIGN KEY(`CustomerId`) REFERENCES `Customer` (`CustomerId`)
)ENGINE=InnoDB DEFAULT CHARSET=latin1

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2009-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2009-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2009-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
Thought: I should query the total sales for each country and order the results by total sales.
Action: sql_db_query
Action Input: SELECT Country, SUM(Total) AS TotalSales FROM Customer c INNER JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY Country ORDER BY TotalSales DESC LIMIT 10;
Observation: [('USA', Decimal('523.06')), ('Canada', Decimal('303.96')), ('France', Decimal('195.10')), ('Brazil', Decimal('190.10')), ('Germany', Decimal('156.48')), ('United Kingdom', Decimal('112.86')), ('Czech Republic', Decimal('90.24')), ('Portugal', Decimal('77.24')), ('India', Decimal('75.26')), ('Chile', Decimal('46.62'))]
Thought: I now know the final answer
Final Answer: 美国的客户花费最多，总销售额为523.06美元。

> Finished chain.

'美国的客户花费最多，总销售额为523.06美元。'